﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div id="header">
        @{Html.RenderAction("Summary", "Cart");}
        <div class="title">SPORTS STORE</div>
    </div>
    <div id="categories">
        <!-- The RenderAction method writes its content directly to the response stream,
     -- just like the RenderPartial method. This means that the method returns void,
     -- and therefore cannot be used with a regular Razor at tag.
     -- Instead, we must enclose the call to the method inside a Razor code block (and remember to terminate the statement with a semicolon).-->

        @{ Html.RenderAction("Menu", "Nav"); }
    </div>
    <div id="content">
        @RenderBody()
    </div>
</body>
</html>