﻿@using Razor.Models
@model Razor.Models.Product[]

@{
    ViewBag.Title = "DemoArray";
}

@if (Model.Any())
{
    <table>
        <thead>
            <tr><th>Name</th><th>Price</th></tr>
        </thead>

        @foreach (Product p in Model)
        {
            <tr><td>@p.Name</td><td>$@p.Price</td></tr>
        }
    </table>
}
else
{
    <h2>No product data</h2>
}